<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Base template{% endblock %}</title>
</head>
<body>
  <header class="header">
    <nav class="header__nav">
      <ul class = 'header__items'>
        <li class="header__item"><a href="{% url 'about' %}">Про нас</a></li>
        <li class="header__item"><a href="{% url 'menu' %}">Меню</a></li>
        <li class="header__item"><a href="{% url 'contact' %}">Контакти</a></li>
        <li class="header__item"><a href="{% url 'ordering' %}">Резерв столу</a></li>
      </ul>
    </nav>
  </header>

  <div id="content">
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% block static_files %}{% endblock %}
</body>
<html>
