<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Nunito:wght@300;500;600;700&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16"  href="{% static '/images/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/images/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static '/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <title>{% block title %}Base template{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <nav class="navbar">
        <div class="navbar__container _container">
          <div class="nav__wrap">
            <a href="{% url 'index' %}" class="Logo" id="Logo">
              <img src="{% static '/images/header/logo.svg' %}" alt="Logo">
            </a>

            <ul class="menu" id="menu">
              <li><a class = "menu__text" href="{% url 'about' %}">Про нас</a></li>
              <li><a class = "menu__text" href="{% url 'menu' %}">Меню</a></li>
              <li><a class = "menu__text" href="{% url 'contact' %}">Контакти</a></li>
              <li><a class = "menu__text" href="#popup__reservation" onclick="javascript:hideHash()">Резерв столу</a></li>
            </ul>

            <ul class="menu__items">
              <a href="tel:+380631407000" class="menu__item">
                <img src="{% static '/images/header/Tel.svg' %}" alt="Tel">
              </a>

              <a href="#popup__cart" class="menu__item" onclick="javascript:hideHash()">
                <img src="{% static '/images/header/Cart.svg' %}" alt="Cart(3)">
              </a>
            </ul>

            <div class="hamb">
              <a href="popup__cart" class="menu__cart">
                <img src="{% static '/images/header/Cart.svg' %}" alt="Cart">
              </a>
              <div class="hamb__field" id="hamb">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="popup" id="popup"></div>
    </header>

    <main class="page">
      <div class="popup__cart" id="popup__cart">
        <a href="#" class="popup__cart__area" onclick="javascript:hideHash()"></a>
        <div class="popup__cart__body">
          <div class="popup__cart__content">
            <a href="#" class="popup__cart__close" onclick="javascript:hideHash()">
              <img src="{% static '/images/header/Close.svg' %}" alt="">
            </a>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat temporibus, dolor a possimus laborum hic sed adipisci reprehenderit quas, officiis autem omnis ipsa dolore? Perspiciatis esse quasi recusandae doloremque voluptatibus!

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, doloremque. Omnis dignissimos doloribus alias. Praesentium eligendi nobis non magnam neque, ab enim ducimus fugiat, molestias aliquam, nulla nesciunt accusantium distinctio.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae debitis illum dolor aliquid nisi, earum perferendis sint, cum quod officiis culpa fuga quae quas. Impedit veniam itaque nostrum aspernatur qui.

            <!-- <div class="header-block__button block-button block-button_center">
              <a href="#"></a>
            </div> -->

          </div>
        </div>
      </div>

      <div id="popup__reservation" class="popup__reservation">
        <a href="#" class="popup__reservation__area" onclick="javascript:hideHash()"></a>
        <div class="popup__reservation__body">
          <div class="popup__reservation__content">
            <a href="#" class="popup__reservation__close" onclick="javascript:hideHash()">
              <img src="{% static '/images/header/Close.svg' %}" alt="">
            </a>
            <div class="popup__reservation__titile">Reservation Form</div>
            <div class="popup__reservation__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio soluta, id accusamus deserunt minus voluptatibus. Qui, vero, ratione nulla a eveniet, maxime placeat maiores porro cupiditate explicabo fuga consequatur nesciunt.</div>
          </div>
        </div>
      </div>
      {% block content %}

      {% endblock %}
    </main>

    <footer class="footer">
      <div class="footer__container _container">
        <div class="footer__content">
          <div class="our-menu__text header-block__subtitle">Чекаємо на ваші відгуки та відмітки у соціальних мережах!</div>

          <div class="footer__items">
            <div class="our-menu__button block-button block-button_footer">
              <a href="https://www.instagram.com/plv_baby/" target="_blank">Instagram</a>
            </div>

            <div class="our-menu__button">
              <a href="javascript:void(0)" onclick="javascript:scrollToTop()">
                <img src="{% static '/images/footer/Arrow.svg' %}" alt="Arrow">
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% block static_files %}{% endblock %}
  <script src="{% static '/js/base.js' %}"></script>
  <link rel="stylesheet" href="{% static '/css/index.css' %}">
</body>
</html>
