{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{% static 'css/contacts.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% endblock %}

{% block content %}

<section class="page__contacts contacts">
  <div class="contacts__container _container">
    <div class="instagram__header header-block">
      <div class="header-block__title"><h2>Контакти</h2></div>
    </div>

    <div class="contacts__body">
      <div class="contacts__image">
        <img src="{% static 'images/contacts/Image.jpg' %}" alt="Image">
      </div>

      <div class="contacts__content">
        <div class="contacts__address">
          <a href="https://goo.gl/maps/1kpj7zJk7yCLYdei6" target="_blank">
            <img src="{% static 'images/contacts/icon_address.svg' %}" alt="icon">
            Черкаси, Хрещатик 200
          </a>
        </div>
        <div class="contacts__hours">Працюємо з 10:00 до 20:00</div>
        <div class="contacts__ordering">Приймаємо замовлення за телефоном: <a href="tel:+380631407000">+380631407000</a> </div>
        <div class="contacts__instagram">
          <a href="https://www.instagram.com/plv_baby/" target="_blank">
            <img src="{% static 'images/contacts/icon_instagram.svg' %}" alt="icon">
            Pasta la Vista, baby!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page__instagram instagram">
  <div class="instagram__container _container">
    <div class="instagram__header header-block">
      <div class="header-block__title"><h2>Ми в Instagram</h2></div>
      <div class="header-block__subtitle">Заходьте на нашу сторінку в Instagram. Там багато цікавого.</div>
      <div class="header-block__button block-button block-button_center">
        <a href="https://www.instagram.com/plv_baby/" target="_blank">Instagram</a>
      </div>
    </div>

    <div class="Instagram__body">
      <div class="Instagram__items">
        <div class="Instagram__item Instagram__item_01">
          <a href="https://www.instagram.com/p/CZWOf70AR3v/"  target="_blank" class = Instagram__publication>
            <img src="{% static 'images/instagram/Publication1.png' %}" alt="Instagram Picture">
          </a>
          <a href="https://www.instagram.com/p/CZJzcgdI3qi/"  target="_blank"class = Instagram__publication>
            <img src="{% static 'images/instagram/Publication2.png' %}" alt="Instagram Picture">
          </a>
        </div>

        <div class="Instagram__item Instagram__item_02">
          <a href="https://www.instagram.com/p/CZMQumTIuBl/"  target="_blank" class = Instagram__publication>
            <img src="{% static 'images/instagram/Publication3.png' %}" alt="Instagram Picture">
          </a>
          <a href="https://www.instagram.com/p/CZokjSyAw01/" target="_blank" class = Instagram__publication>
            <img src="{% static 'images/instagram/Publication4.png' %}" alt="Instagram Picture">
          </a>
        </div>

        <div class="Instagram__item Instagram__item_03">
          <a href="https://www.instagram.com/p/CZB1J1PI2Nn/" target="_blank" class = Instagram__publication>
            <img src="{% static 'images/instagram/Publication5.png' %}" alt="Instagram Picture">
          </a>
          <a href="https://www.instagram.com/p/CaPGkCSAKZT/" target="_blank" class = Instagram__publication>
            <img src="{% static 'images/instagram/Publication6.png' %}" alt="Instagram Picture">
          </a>
        </div>

        <div class="Instagram__item Instagram__item_04">
          <a href="https://www.instagram.com/p/CenvuSEoTfm/" target="_blank"
          class = Instagram__publication Instagram__publication_last>
            <img src="{% static 'images/instagram/Publication7.png' %}" alt="Instagram Picture">
          </a>
          <a href="https://www.instagram.com/p/CXQYQg_Ivet/" target="_blank"
          class = Instagram__publication Instagram__publication_last>
            <img src="{% static 'images/instagram/Publication8.png' %}" alt="Instagram Picture">
          </a>
        </div>
    </div>
  </div>
</section>
{% endblock %}
