{% extends "base.html" %}
{% load static %}

{% block title %}Main page{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{% static '/css/slider.css' %}">

{% endblock %}

{% block content %}

<section class="page__main-block main-block">
  <div class="main-block__container _container">
    <div class="main-block__body">
      <div class="main-block__title">
        <h1>Pasta La Vista, <span>baby!</span></h1>
      </div>

      <div class="main-block__text">
        Ресторан італійської кухні в Черкасах
      </div>

      <div class="main-block__button block-button">
        <a href="{% url 'menu' %}">Перейти в меню</a>
      </div>
    </div>
  </div>
  <div class="main-block__video">
    <video autoplay muted loop preload="auto" src="{% static 'images/video.MOV' %}" class="video"></video>
  </div>

</section>

<section class="page__our-menu our-menu">
  <div class="our-menu__container _container">
    <div class="our-menu__body">
      <div class="our-menu__content">
        <div class="our-menu__title header-block__title"><h2>Наше меню</h2></div>
        <div class="our-menu__text header-block__subtitle">В нас є пасти, равіолі, лазаньї, салати, перші страви. Великий вибір сніданків та десертів. Неперевершені лимонади за нашими рецептурами. Круасани власного виробництва.</div>
        <div class="our-menu__button block-button">
          <a href="{% url 'menu' %}">Перейти в меню</a>
        </div>
      </div>
      <div class="our-menu__image">
        <img src="{% static 'images/our-menu/PastaPhoto.jpg' %}" alt="Menu Photo">
      </div>
    </div>
  </div>
</section>

{% include "base/slider.html" %}

<section class="page__format format">
  <div class="format__container _container">
    <div class="format__header header-block">
      <div class="header-block__title"><h2>Обирай свій формат</h2></div>
    </div>

    <div class="format__items">
      <div class="format__item item-format item-format_first">
        <div class="item-format__bg">
          <img src="{% static '/images/format/FirstColumnImage.png' %}" alt="BG">
        </div>

        <div class="item-format__title"><h3>Ресторан</h3></div>
        <div class="item-format__text">У вас є можливість забронювати столик, зателефонувавши до нас.</div>

        <div class="item-format__button block-button block-button_small01">
          <a href="#popup__reservation" onclick="javascript:hideHash()">Забронювати стіл</a>
        </div>
      </div>

      <div class="format__item item-format item-format_second ">
        <div class="item-format__bg">
          <img src="{% static '/images/format/SecondColumnImage.png' %}" alt="BG">
        </div>
        <div class="item-format__title"><h3>Доставка</h3></div>
        <div class="item-format__text">Замовити доставку можна через додатки Mister.Am та Glovo.</div>

        <div class="item-format__button block-button block-button_small02">
          <a href="{% url 'menu' %}">Перейти в меню</a>
        </div>
      </div>

      <div class="format__item item-format item-format_third">
        <div class="item-format__bg">
          <img src="{% static '/images/format/ThirdColumnImage.png' %}" alt="BG">
        </div>
        <div class="item-format__title"><h3>Самовивіз</h3></div>
        <div class="item-format__text">Замовити страви навиніс можна за номером 0631407000.
        </div>

        <div class="item-format__button block-button block-button_small03">
          <a href="{% url 'menu' %}">Перейти в меню</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page__instagram instagram">
  <div class="instagram__container _container">
    <div class="instagram__header header-block">
      <div class="header-block__title"><h2>Ми в Instagram</h2></div>
      <div class="header-block__subtitle">Заходьте на нашу сторінку в Instagram. Там багато цікавого.</div>
      <div class="header-block__button block-button block-button_center">
        <a href="https://www.instagram.com/plv_baby/" target="_blank">Instagram</a>
      </div>
    </div>

    <div class="Instagram__body">
      <div class="Instagram__items">
        <div class="Instagram__item Instagram__item_01">
          <a href="https://www.instagram.com/p/CZWOf70AR3v/"  target="_blank" class = Instagram__publication>
            <img src="{% static '/images/instagram/Publication1.png' %}" alt="Instagram Picture">
          </a>
          <a href="https://www.instagram.com/p/CZJzcgdI3qi/"  target="_blank"class = Instagram__publication>
            <img src="{% static '/images/instagram/Publication2.png' %}" alt="Instagram Picture">
          </a>
        </div>

        <div class="Instagram__item Instagram__item_02">
          <a href="https://www.instagram.com/p/CZMQumTIuBl/"  target="_blank" class = Instagram__publication>
            <img src="{% static '/images/instagram/Publication3.png' %}" alt="Instagram Picture">
          </a>
          <a href="https://www.instagram.com/p/CZokjSyAw01/" target="_blank" class = Instagram__publication>
            <img src="{% static '/images/instagram/Publication4.png' %}" alt="Instagram Picture">
          </a>
        </div>

        <div class="Instagram__item Instagram__item_03">
          <a href="https://www.instagram.com/p/CZB1J1PI2Nn/" target="_blank" class = Instagram__publication>
            <img src="{% static '/images/instagram/Publication5.png' %}" alt="Instagram Picture">
          </a>
          <a href="https://www.instagram.com/p/CaPGkCSAKZT/" target="_blank" class = Instagram__publication>
            <img src="{% static '/images/instagram/Publication6.png' %}" alt="Instagram Picture">
          </a>
        </div>

        <div class="Instagram__item Instagram__item_04">
          <a href="https://www.instagram.com/p/CenvuSEoTfm/" target="_blank"
          class = Instagram__publication Instagram__publication_last>
            <img src="{% static '/images/instagram/Publication7.png' %}" alt="Instagram Picture">
          </a>
          <a href="https://www.instagram.com/p/CXQYQg_Ivet/" target="_blank"
          class = Instagram__publication Instagram__publication_last>
            <img src="{% static '/images/instagram/Publication8.png' %}" alt="Instagram Picture">
          </a>
        </div>


    </div>

  </div>
</section>

<section class="page__contacts contacts">
  <div class="contacts__container _container">
    <div class="instagram__header header-block">
      <div class="header-block__title"><h2>Контакти</h2></div>
    </div>



    <div class="contacts__body">
      <div class="contacts__image">
        <img src="{% static '/images/contacts/Image.jpg' %}" alt="Image">
      </div>

      <div class="contacts__content">
        <div class="contacts__address">
          <a href="https://goo.gl/maps/1kpj7zJk7yCLYdei6" target="_blank">
            <img src="{% static '/images/contacts/icon_address.svg' %}" alt="icon">
            Черкаси, Хрещатик 200
          </a>
        </div>
        <div class="contacts__hours">Працюємо з 10:00 до 20:00</div>
        <div class="contacts__ordering">Приймаємо замовлення за телефоном: <a href="tel:+380631407000">+380631407000</a> </div>
        <div class="contacts__instagram">
          <a href="https://www.instagram.com/plv_baby/" target="_blank">
            <img src="{% static '/images/contacts/icon_instagram.svg' %}" alt="icon">
            Pasta la Vista, baby!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}