{% extends "base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block static_files %}
    <link rel="stylesheet" href="{% static '/css/menu.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}
{% include "slider.html" %}
<section class="menu__page menu1">
  <div class="menu1__container _container">
    <div class="menu1__classes">
      {% for cat in categories %}
        <div class="menu1__class{% if forloop.first %} menu1__class_selected{% endif %}" id="category-selector-{{ cat.id }}">
          {{ cat.name }}
        </div>
      {% endfor %}
    </div>

    <div class="menu1__items">
      {% for item in menu %}
        <div class="menu1__item item-menu food-category-{{ item.category.id }}">
          <div class="item-menu__image">
            <img src="{% get_static_prefix %}{{ item.image }}" alt="{{ item.title }}">
            <div class="item-menu__image__weight">{{ item.weight }}г</div>
          </div>
          <div class="item-menu__content">
            <div class="item-menu__title">{{ item.title }}</div>
            <div class="item-menu__text">{{ item.description }}</div>
            <div class="item-menu__price">
              <div class="item-menu__price__text">{{ item.price }} грн</div>
              <div class="item-menu__price__cart">
                <img src="{% static '/images/menu/Cart_Icon.svg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}