{% extends "base.html" %}
{% block title %}Order management{% endblock %}
{% load extra_tags %}
{% load static %}

{% block static_files %}
    <link rel="stylesheet" href="{% static 'css/order_management.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/order_management.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class = "text__title">Замовлення/Резервації</h1>
    <div class="orders">
        <div class="order__main">
            {% for order in orders %}
                <div class="order">
                    <p class="order__num text__style">Order #{{ order.id }}</p>
                    <p class="order__name text__style">Iм'я покупця: <span>{{ order.full_name }}</span></p>
                    <p class="order__number text__style">Номер телефону: <span>{{ order.phone_number }}</span></p>
                    <p class="order__delivery_type text__style">Тип доставки: <span>{% if order.delivery_type == "1" %}доставка{% else %}самовивiз{% endif %}</span></p>
                    <p class="order__delivery_address text__style">Адреса доставки: <span>{{ order.delivery_address }}</span></p>
                    <p class="order__payment_type text__style">Тип оплати: <span>{% if order.payment_type == "1" %}грошi{% else %}карта{% endif %}</span></p>
                    <p class="order__amount_of_tools text__style">К-сть приборiв: <span>{{ order.amount_of_tools }}</span></p>
                    <p class="text__style">Коментар: {{ order.comment }}</p>
                    {% if order.payment_type == "1" %}
                    <p class="text__style">До сплати: <span>{{ order.total_cost }} грн.</span></p>
                    {% endif %}

                    <p class="order__info_items text__style"><span>Замовлення:</span></p>
                    <ul class="text__style">
                    {% for item in order.food_id_list %}
                    {% with item.0 as quantity %}
                    {% with item.1 as food_id %}
                    <li>{{ food_lookup|hash:food_id }} - {{ quantity }} шт.</li>
                    {% endwith %}
                    {% endwith %}
                    {% endfor %}
                    </ul>

                    <form class="order__remove_form text__style" action="{% url 'order_remove' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <input type="submit" value="Видалити">
                    </form>
                </div>
            {% endfor %}
        </div>



        <div class="reservation__main">
            {% for r in reservations %}
            <div class="reservation">
                <p class="reservation__num text__style">Reservation #{{ r.id }}</p>
                <p class="reservation__name text__style">Iм'я покупця: {{ r.full_name }}</p>
                <p class="reservation__number text__style">Номер телефону: {{ r.phone_number }}</p>
                <p class="reservation__time text__style">Час: {{ r.reserved_for }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}