{% load static %}
<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__content">
      <div class="our-menu__text header-block__subtitle">Чекаємо на ваші відгуки та відмітки у соціальних мережах!</div>

      <div class="footer__items">
        <div class="our-menu__button block-button block-button_footer">
          <a href="https://www.instagram.com/plv_baby/" target="_blank">Instagram</a>
        </div>

        <div class="our-menu__button">
          <a href="javascript:void(0)" onclick="javascript:scrollToTop()">
            <img src="{% static 'images/footer/Arrow.svg' %}" alt="Arrow">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>