{% load static %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="popup__cart" id="popup__cart">
  <a href="#" class="popup__cart__area" onclick="javascript:popupClosed()"></a>
  <div class="popup__cart__body">
    <div class="popup__cart__content">
      <div class="popup__cart__header">
        <div class="popup__cart__title">Корзина</div>
        <a href="#" class="popup__cart__close" onclick="javascript:popupClosed()">
          <img src="{% static '/images/header/Close2.svg' %}" alt="">
        </a>
      </div>

      <div class="cart__hr"></div>

      <div class="popup__cart__empty">
        <div class="popup__cart__empty__title">Ваша корзина зараз порожня!</div>
        <div class="popup__cart__empty__text">
          Перейдіть в розділ “меню” та додайте бажані страви.
        </div>
      </div>
      <ol class="popup__cart__list">
        <div class="cart__hr"></div>
      </ol>


      <div class="popup__cart__price">
        <div class="popup__cart__price__text">Ціна:</div>
        <div class="popup__cart__price__price">
          <div class="popup__cart__price__price1"></div>
          <div class="popup__cart__price__price2">грн</div>
        </div>
      </div>

      <div class="popup__cart__button" id="cart-button-order">
        <a href="{% url 'ordering' %}">Оформити замовлення</a>
      </div>
      <div class="popup__cart__button" id="cart-button-menu">
        <a href="{% url 'menu' %}">Перейти в меню</a>
      </div>


    </div>
  </div>
</div>

<div id="popup__reservation" class="popup__reservation">
  <a href="#" class="popup__reservation__area" onclick="javascript:popupClosed()"></a>
  <div class="popup__reservation__body">
    <div class="popup__reservation__content">
      <a href="#" class="popup__reservation__close" onclick="javascript:popupClosed()">
        <img src="{% static '/images/header/Close.svg' %}" alt="">
      </a>
      <form action="{% url 'reserve_table' %}" id="reservation-form" method="POST">
        {% csrf_token %}
        <p class="form__reservation__text">Ваше ім’я*</p>
        <input class="form__reservation__input" type="text" id="full_name" name="full_name" placeholder="Введіть ваше ім’я">

        <p class="form__reservation__text">Телефон*</p>
        <input class="form__reservation__input" type="tel" name="phone_number"
        pattern="+380[0-9]{3}-[0-9]{3}" placeholder="Введіть ваш телефон">

        <p class="form__reservation__text">Дата/Час*</p>
        <input class="form__reservation__date" type="datetime-local" name="reserved_for">
        <div class="form__reservation__button">
          <a href="javascript:void(0)" onclick="submitReservation()">Зарезервувати</a>
        </div>
      </form>
    </div>
  </div>
</div>