<!-- {% load static %}

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="{% static '/css/slider_menu.css' %}">
<div class="main-slider">
  <div class="slide">
    <div class="slide__image">
      <img src="{% static '/images/slider/bg.jpg' %}" alt="">
    </div>

    <div class="slider__content">
      <div class="slider__title">Відкрита вакансія - касир-бариста!
      </div>

      <div class="slider__suptitle">
        • бажано з досвідом роботи <br>
        • вік від 20 років
      </div>
      <div class="slider__button">
        <a href="tel:+380631407000">+380 63 140 7000</a>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="slide__image">
      <img src="{% static '/images/slider/bg.jpg' %}" alt="">
    </div>

    <div class="slider__content">
      <div class="slider__title">Відкрита вакансія - касир-бариста!
      </div>

      <div class="slider__suptitle">
        • бажано з досвідом роботи <br>
        • вік від 20 років
      </div>
      <div class="slider__button">
        <a href="tel:+380631407000">+380 63 140 7000</a>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="slide__image">
      <img src="{% static '/images/slider/bg.jpg' %}" alt="">
    </div>

    <div class="slider__content">
      <div class="slider__title">Відкрита вакансія - касир-бариста!
      </div>

      <div class="slider__suptitle">
        • бажано з досвідом роботи <br>
        • вік від 20 років
      </div>
      <div class="slider__button">
        <a href="tel:+380631407000">+380 63 140 7000</a>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="slide__image">
      <img src="{% static '/images/slider/bg.jpg' %}" alt="">
    </div>

    <div class="slider__content">
      <div class="slider__title">Відкрита вакансія - касир-бариста!
      </div>

      <div class="slider__suptitle">
        • бажано з досвідом роботи <br>
        • вік від 20 років
      </div>
      <div class="slider__button">
        <a href="tel:+380631407000">+380 63 140 7000</a>
      </div>
    </div>
  </div>
</div>

<script src="{% static '/js/slider.js' %}"></script> -->